body {
  font-family: Arial, Helvetica, sans-serif;
  color: #612406;
}

nav {
  background-color: #fbf7e3;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 1em;
  margin: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
}

nav ul li {
  background-color: #f3df85;
  border-radius: 50px;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  flex-wrap: wrap;
}

nav ul li img {
  max-width: 20px;
  max-height: 20px;
  height: auto;
  margin-right: 5px;
}

nav ul li#logo img {
  max-width: 70%;
  max-height: 70%;
  height: auto;
  margin-right: 10px;
}

nav ul li#logo {
  width: 200px;
  height: 100px;
}

/* ARTICOLO */
main article {
  display: flex;
  background-color: #fbf7e3;
  border-radius: 50px;
  margin: 1em;
}

article div {
  padding: 1em;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

#honey {
  margin: 1em 0em 1em 1em;
  flex-wrap: wrap;
}

.card-content {
  flex-grow: 1;
}

/* MOBILE */

@media screen and (max-width: 576px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  nav ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  article {
    flex-direction: column;
  }

  article div {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #honey {
    margin: 1em 0em;
  }

  article div img {
    order: -1;
  }
}
